/* リセットCSS */
/* Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* リセットCSS end*/

/**ヘッダー**********************/
/*全体**********************/
.header {
    width: 100%;
    height: auto;
    position: relative;
}

/*写真**********************/
.header img {
    height: 95vh;
    width: 100%; 
    object-fit: cover;
}

/*テキスト*******************/
.header .menu {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu .title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header .menu .title h1 {
    font-size: 7rem;
    margin-top: -1vh;
    font-family: "Island Moments", cursive;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

.header .menu .title h2 {
    font-size: 3.4rem;
    margin-top: -1vh;
    margin-left: 5%;
    font-style: normal;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    user-select: none;
}

/*メニューリスト*************/
.header .menu .menu-list {
    display: flex;
    margin-top: -6vh;
    margin-right: 10%;
}

.header .menu .menu-list ul {
    display: flex;
    list-style: none;
}

.header .menu .menu-list ul li {
    font-size: 1.6rem;
    margin-right: 15%;
}

.header .menu .menu-list ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/**works**********************/
#works {
    width: 100%;
    height: auto; /* 高さを自動に */
    margin: 15vh 0; /* 上下のマージンを調整 */
}

/*テキスト*******************/
#works h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin: -2% 0 5vh; /* 上下のマージンを調整 */
    text-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

#works .first {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 5vh;
}

#works .design {
    margin-left: 43%;
}

#works .design p {
    margin-bottom: 3vh;
    font-size: 1.8rem;
}

/*img*******************/
/*img1*******************/
#works .img {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

#works .img .img1 {
    width: 100%;
}

#works .img .img1 img {
    width: 22vw;
    height: 40vh;
    margin-left: 30%;
    transition: 0.2s;
    border-radius: 2%;
}

#works .img .img1 img:hover {
    transform: scale(1.2);
}

/*img2*******************/
#works .img .img2 {
    width: 100%;
}

#works .img .img2 img {
    width: 22vw;
    height: 40vh;
    transition: 0.2s;
    border-radius: 2%;
    margin-left: 15%;
}

#works .img .img2 img:hover {
    transform: scale(1.2);
}

/*img3*******************/
#works .img .img3 {
    width: 100%;
}

#works .img .img3 img {
    width: 22vw;
    height: 40vh;
    transition: 0.2s;
    border-radius: 2%;
    margin-right: 30%;
}

#works .img .img3 img:hover {
    transform: scale(1.2);
}

/**consept**********************/
#consept {
    width: 40%;
    height: auto;    
    margin-left: 30%;
}

#consept h1 {
    text-align: center;
    margin-bottom: 10%;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

#consept p {
    font-size: 1.8rem;
    margin-bottom: 6vh;
}

/**gratitude**********************/
#gratitude {
    width: 40%;
    height: auto; /* 高さを自動に */
    margin: 10vh auto 0; /* 上部の余白を調整し、中央揃え */
}

#gratitude h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin: 5% 0 8%; /* 上下のマージンを調整 */
    text-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

#gratitude p {
    font-size: 1.8rem;
    margin-bottom: 6vh;
}

/**footer**********************/
.footer {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 5vh; 
}

.footer .SNS {
    display: flex;
    height: auto;
    margin-right: 20%;
    margin-bottom: 5vh; 
}

.footer .SNS .first,
.footer .SNS .second {
    width: 16%;
    height: 16%;
    margin-left: 5%;
}

.footer .SNS .first svg {
    width: 100%;
    padding-top: 3%;
}

.footer .SNS .second svg {
    width: 100%;
    padding-top: 5%;
}

.footer .last {
    margin-top: auto; 
}

.footer .last h3 {
    font-size: 1.2rem;
}

/**レスポンシブ**********************/

/*タブレット*************/
/*ヘッダー**********************/
@media (max-width: 768px) {
    .header {
        height: 800px;
    }

    .header img {
        height: 800px;
        width: 100%; 
        object-fit: cover;
    }

    .header .menu .title h1 {
        font-size: 3rem;
        margin-top: 1vh;
        margin-left: 5%;
        font-family: "Island Moments", cursive;
        font-weight: 500;
        font-style: normal;
    }

    .header .menu .title h2 {
        font-size: 2.0rem;
        margin-left: 10%;
        margin-top: -0.5vh;
    }

    .header .menu .menu-list ul li {
        font-size: 1.2rem;
        margin-right: 8%;
        margin-top: 4vh;
    }

    /**works**********************/
    #works {
        width: 100%;
        height: auto;
    }

    #works h1 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 900;
        padding-left: 6%;
    }

    #works .first {
        text-align: center;
        font-size: 1.6rem;
        padding-left: 6%;
    }

    #works .design {
        margin-left: -5%;
    }

    #works .design p {
        text-align: left;
        margin-left: 40%;
        font-size: 1.2rem;
    }

    /*img*******************/
    /*img1*******************/
    #works .img {
        width: 100%;
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
    }

    #works .img .img1 {
        width: 100%;
    }

    #works .img .img1 img {
        width: 26vw;
        height: 35vh;
        margin-left: 20%;
        transition: 0.2s;
        border-radius: 2%;
    }

    #works .img .img1 img:hover {
        transform: scale(1.2);
    }

    /*img2*******************/
    #works .img .img2 {
        width: 100%;
    }

    #works .img .img2 img {
        width: 26vw;
        height: 35vh;
        transition: 0.2s;
        border-radius: 2%;
        margin-left: 15%;
    }

    #works .img .img2 img:hover {
        transform: scale(1.2);
    }

    /*img3*******************/
    #works .img .img3 {
        width: 100%;
    }

    #works .img .img3 img {
        width: 26vw;
        height: 35vh;
        transition: 0.2s;
        border-radius: 2%;
        margin-left:10%;
    }

    #works .img .img3 img:hover {
        transform: scale(1.2);
    }


    /**consept**********************/
    #consept {
        width: 80%;
        height: auto;
        margin-top: 5vh;
        margin-left: 12%;
    }

    #consept h1 {
        text-align: center;
        font-size: 3.6rem;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    #consept p {
        font-size: 1.2rem;
        margin-bottom: 6vh;
    }

    /**gratitude**********************/
    #gratitude {
        width: 80%;
        height: auto;
        margin-top: 10vh;
        margin-left: 12%;
    }

    #gratitude h1 {
        margin-bottom: 6vh;
        font-size: 3.6rem;
    }
    
    #gratitude p {
        font-size: 1.2rem;
        margin-bottom: 3vh;
    }

    /**footer**********************/
    .footer {
        width: 100%;
        height: auto; /* 高さを自動に */
    }
    
    .footer .SNS {
        display: flex;
        height: 30%;
        margin-left: 8%;
    }
    
    .footer .SNS .first {
        width: 12%;
        height: 12%;
    }
    
    .footer .SNS .first svg {
        margin-top: 0%;
        width: 100%;
    }
    
    .footer .SNS .second {
        width: 12%;
        height: 12%;
    }
    
    .footer .SNS .second svg {
        margin-top: 0%;
        width: 100%;
    }
    
    .footer .last {
        margin-left: 40%;
    }

    .footer .last h3 {
        font-size: 1.0rem;
    }
}
/*スマートフォン*************/
/**ヘッダー**********************/
@media (max-width: 480px) {
    .header {
        width: 100vw;
        height: 50vh;
        position: relative;
    }

    .header img {
        height: 50vh;
        width: 100vw; 
        object-fit: cover;
    }

    .header .menu {
        flex-direction: column; 
        justify-content: center;
        margin-top: 5%; 
    }

    .header .menu .title h1 {
        font-size: 3.0rem;
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .header .menu .title h2 {
        font-size: 1.6rem;
        margin-top: 0vh;
        margin-left: 5%;
    }

    .header .menu .menu-list {
        width: 100vw;
        margin-right: 0%;
        margin-top: -20vh; 
        display: flex;  
        position: absolute;  
        justify-content: center;
    }

    .header .menu .menu-list ul {
        display: flex; 
        margin-right: 10vw;
    }

    .header .menu .menu-list ul li {
        font-size: 1.2rem;
        margin-right: 0px; 
        margin-bottom: 0; 
        margin-left: 16vw;
    }

    /**works**********************/
    #works h1 {
        font-size: 3.0rem;
        font-weight: 700;
        margin: -2% 0 5vh; /* 上下のマージンを調整 */
        text-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    }
    
    #works .first {
        font-size: 1.4rem;
        margin-bottom: 5vh;
    }
    
    #works .design {
        margin-right: 10%;
    }
    
    #works .design p {
        margin-bottom: 3vh;
        font-size: 1rem;
    }

    /*img*******************/
    /*img1*******************/
    #works .img {
        width: 100%;
        height: auto;
        margin-top: 10vh;
        display: block;
        justify-content: space-around;
    }

    #works .img .img1 {
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    #works .img .img1 img {
        width: 80vw;
        height: 30vh;
        margin-left: 12.5%;
        transition: 0.2s;
        border-radius: 2%;
    }

    #works .img .img1 img:hover {
        transform: scale(1.2);
    }

    /*img2*******************/
    #works .img .img2 {
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    #works .img .img2 img {
        width: 80vw;
        height: 30vh;
        margin-left: 12.5%;
        transition: 0.2s;
        border-radius: 2%;
    }

    #works .img .img2 img:hover {
        transform: scale(1.2);
    }

    /*img3*******************/
    #works .img .img3 {
        width: 100%;
        height: auto;
    }

    #works .img .img3 img {
        width: 80vw;
        height: 35vh;
        transition: 0.2s;
        border-radius: 2%;
        margin-right: 0%;
        margin-left: 12.5%;
    }

    #works .img .img3 img:hover {
        transform: scale(1.2);
    }

    /**consept**********************/
    #consept {
        width: 80%;
        height: auto;
        text-align: center;
        margin-top: -5%;
        margin-left: 12%;
    }

    #consept h1 {
        text-align: center;
        font-size: 3.0rem;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #consept p {
        font-size: 0.8rem;
        margin-bottom: 3vh;
        text-align: left;
    }

    /**gratitude**********************/
    #gratitude {
        width: 80%;
        height: auto;
        text-align: center;
        margin-left: 12%;
    }

    #gratitude h1 {
        text-align: center;
        font-size: 3.0rem;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #gratitude p {
        font-size: 0.8rem;
        margin-bottom: 3vh;
        text-align: left;
    }

    /**footer**********************/
    .footer {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0; /* パディングを削除 */
    }

    .footer .SNS {
        display: flex;
        height: auto;
        margin-left: 8%;
        padding: 0; /* パディングを削除 */
    }

    .footer .SNS .first {
        width: 12%;
        height: 12%;
        margin-top: 0;
    }

    .footer .SNS .first svg {
        width: 100%;
        height: auto;
        padding-top: 0; /* パディングを削除 */
        margin: 0; /* マージンを削除 */
    }

    .footer .SNS .second {
        width: 10vw;
        height: 10vh;
        margin-top: 0;
    }

    .footer .SNS .second svg {
        margin-left: 10%;
        width: 100%;
        padding-top: 0; /* パディングを削除 */
        margin: 0; /* マージンを削除 */
    }

    .footer .last {
        margin-left: 30%;
        padding: 0; /* パディングを削除 */
    }

    .footer .last p {
        height: auto;
        margin: 0; /* <p>タグのマージンを削除 */
    }

    .footer .last h3 {
        margin-top: -25%;
        font-size: 0.6rem;
    }
}